{% load static %}
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'categoria/css/styles.css' %}">
</head>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(242, 242, 242)">
        <a class="navbar-brand" href="../produto/">ERP</a>
        <h3 style="margin-left: auto; margin-right: auto;">Categoria</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav-item" style="float:left">
            <a style="text-align: center" class="nav-link" href="../produto/">Produto</a>
        </div> 
        <a style="color:red; text-align: center;" class="navbar-link" href="../logout/">Logout</a>
    </nav>
    <h1><a href="/categoria/lista-categoria">Listar Todas</a></h1>
    <h1><a href="/categoria/insere-categoria">Inserir Nova</a></h1>
</div>
<script>src = "{static 'categoria/js/scripts.js' %}"</script>
